.cky-consent-bar {
    background-color: #27443f !important;
    border: none !important;
}
.cky-consent-bar * {
    color: #fffbf2 !important;
}
.cky-consent-bar p {
    font-size: 1rem !important;
    line-height: 1.375rem !important;
    font-weight: 500 !important;
}
.cky-title {
    display: none !important;
}
.cky-notice-btn-wrapper {
    flex-direction: row !important;
}
@media (max-width: 768px) {
    .cky-notice-btn-wrapper {
        margin-top: 2rem !important;
    }
    .cky-prefrence-btn-wrapper {
        display: flex !important;
        flex-direction: row-reverse !important;
        flex-wrap: nowrap !important;
    }
    .cky-prefrence-btn-wrapper .cky-btn {
        margin-top: 0 !important;
    }
}
@media (max-width: 576px) {
    .cky-notice-btn-wrapper {
        flex-direction: row-reverse !important;
    }

    .cky-notice-btn-wrapper .cky-btn-customize {
        margin-right: 0.5rem;
    }
    .cky-notice-btn-wrapper .cky-btn-accept {
        margin-left: 0.5rem;
    }
}
@media (min-width: 768px) {
    .cky-notice-btn-wrapper {
        justify-content: flex-start !important;
    }
    .cky-prefrence-btn-wrapper .cky-btn,
    .cky-notice-btn-wrapper .cky-btn {
        width: fit-content !important;
        flex: unset !important;
    }
    .cky-prefrence-btn-wrapper {
        justify-content: flex-end !important;
        flex-direction: row !important;
    }
}
.cky-btn {
    color: #fffbf2 !important;
    border-radius: 0 !important;
    border: 1px solid #fffbf2 !important;
    background-color: transparent !important;
    font-weight: 700 !important;
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    text-transform: uppercase !important;
    height: 2.75rem !important;
    margin-top: 0 !important;
}
.cky-btn.cky-btn-accept {
    background-color: #97f0a1 !important;
    border-color: #97f0a1 !important;
    color: #000 !important;
}

@media (min-width: 768px) {
    .cky-consent-bar {
        padding: 2rem 1.667vw !important;
    }
}
@media (min-width: 992px) {
    .cky-notice-des {
        padding-right: 12rem;
    }
}
.cky-preference-center {
    background-color: #fffbf2 !important;
    border-radius: 0 !important;
    border: none !important;
}
.cky-preference-center * {
    color: #000 !important;
}
.cky-preference-center p {
    font-size: 1rem !important;
    line-height: 1.625rem !important;
    font-weight: 400 !important;
}
.cky-btn.cky-btn-preferences {
    color: #000 !important;
    border-color: #000 !important;
}
.cky-switch input[type="checkbox"]:checked {
    background: #97f0a1 !important;
}
.cky-preference-header,
.cky-preference-body-wrapper,
.cky-accordion-wrapper,
.cky-accordion,
.cky-accordion-wrapper,
.cky-footer-wrapper,
.cky-prefrence-btn-wrapper {
    border: none !important;
}
.cky-preference-header {
    padding-top: 2.5rem !important;
}
@media (max-width: 578px) {
    .cky-preference-header {
        padding-top: 4.5rem !important;
    }
}
.cky-footer-shadow {
    display: none !important;
}

[data-cky-tag="detail-powered-by"] {
    display: none !important;
}

/*  */

.cky-btn-close img {
    opacity: 0 !important;
}
.cky-btn-close {
    width: 2rem !important;
    height: 2rem !important;
    position: absolute !important;
    top: 2rem;
    right: 1rem;
}
.cky-btn-close::after {
    content: url("https://cdn.prod.website-files.com/66b35e3b31c5b98890bb6a76/66e062b782b25d135932d01f_close-32px.svg ") !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
@media (min-width: 768px) {
    .cky-btn-close {
        top: 1.5rem !important;
        right: 1.5rem !important;
    }
}
.cky-preference-content-wrapper {
    padding: 0 0 2rem 0 !important;
}
.cky-accordion-wrapper {
    padding: 1.25rem 0 !important;
}
.cky-accordion-item {
    margin-top: 0.75rem !important;
}
.cky-preference-title {
    font-size: 2rem !important;
    line-height: 2.25rem !important;
}
@media (min-width: 768px) {
    .cky-preference-title {
        font-size: 2.5rem !important;
        line-height: 3rem !important;
    }
}
